
  <header>
  
    <div>
      <h1> Case Study 1</h1>
    </div>
    <div>
  
      <a [routerLink]="['/route-one']"> Route 1</a>
      <a [routerLink]="['/route-two']">Route 2</a>
      <a [routerLink]="['/route-three']" >Route 3</a>
      <a [routerLink]="['/route-four']">Route 4</a>
      <a [routerLink]="['/route-five']">Route 5</a>
      <a [routerLink]="['/route-six']">Route 6</a>
  
  
    </div>
  
  </header>
  <main>
  
    <router-outlet></router-outlet>
  
  </main>
  <footer>
    
      <h1>
        This is footer
      </h1>
    
  </footer>

