main{
    align-items: center;
}

#first {
    width: 1300px;
    height: 400px;
    // background: red;
    position: relative;
    border: solid black;
  }
#second, #third, #four ,#five ,#six, #seven, #eight, #nine, #ten, #eleven #twelve {
    width: 90%;
    height: 90%;
    border: solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }